@import "normalize.scss";
@import "~bootstrap/scss/bootstrap";
@import "~styles/utils.scss";
@import "~styles/settings.scss";
div,
p {
  font-family: $font-family;
  @include fontSize($font-size);
}

body {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
#linkTitle {
  font-family: $font-family-main;
}

h2 {
  @include fontSize($font-size-xxxl);
}

h3,
#linkTitle {
  @include fontSize($font-size-xxl);
}

h4,
h5 {
  @include fontSize($font-size-xl);
}

h6 {
  @include fontSize($font-size-l);
}

footer {
  background-color: $grey;
}
