@import 'normalize.scss';
@import "~bootstrap/scss/bootstrap";
@import '~styles/utils.scss';
@import '~styles/settings.scss';


div,p {
    font-family:$font-family;
}
body{
    min-height: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-family:$font-family-main;
}

