<div class="col-10 mx-auto align-items-center">
    <span class="anchor" id="formRegister"></span>
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Add Comment</h3>
        </div>
        <div id="errors" class="col-8 mx-auto error-messages active">

        </div>
        <div class="card-body">
            <form autocomplete="off" class="form" role="form" id="commentForm">
                <div class="form-group">
                    <label for="inputName">Name</label>
                    <input class="form-control" id="name" placeholder="Name" type="text" name="name" required>
                </div>
                <div class="form-group">
                    <label for="inputSurname">Surname</label>
                    <input class="form-control" id="surname" placeholder="Surnames" name="surname" type="text" required>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input class="form-control" id="email" placeholder="Email" name="email" required type="email">
                </div>
                <div class="form-group">
                    <label for="inputComment">Comment</label>
                    <textarea class="form-control" id="comment" name="comment" placeholder="Type your comment here..."
                        rows="5" required maxlength="500"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-secondary" type="reset"> Cancel</button>
                    <button id="submit" class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>