{
    "articles": [
      {
        "id": 1,
        "title": "La oposición a la tala de un bosque de árboles milenarios reaviva el ecologismo alemán",
        "img": "https://ep01.epimg.net/internacional/imagenes/2018/09/19/actualidad/1537381614_201018_1537382115_noticia_normal_recorte1.jpg",
        "articleSummary": "Un periodista murió este miércoles al caer al vacío desde 15 metros de altura cuando cubría la protesta de unos ecologistas en Hambach (oeste de Alemania) encaramados a árboles milenarios para impedir la tala que impulsa una empresa para explotar en la zona una mina de lignito. ",
        "articleText": "Un periodista murió este miércoles al caer al vacío desde 15 metros de altura cuando cubría la protesta de unos ecologistas en Hambach (oeste de Alemania) encaramados a árboles milenarios para impedir la tala que impulsa una empresa para explotar en la zona una mina de lignito. Un portavoz de la policía confirmó que el hombre, que trabajaba para un blog, murió a consecuencia de las heridas que sufrió al caer desde un puente colgante entre dos árboles. Los equipos de emergencia y la policía que se encuentran en este bosque desde hace días a causa de las protestas practicaron al herido primeros auxilios, pero no se pudo hacer nada para salvar su vida.",
        "authorname": "Enrique Muller",
        "authorprofileImg": "http://images.clipartpanda.com/surprise-clipart-surprise.04.jpg",
        "caption": "Bósque Alemán",
        "numComments": 0
      },
      {
        "id": 2,
        "img": "https://www.mentesana.es/medio/2017/11/24/amor-naturaleza_5d5cc322_683x497.jpg",
        "title": "Reconectar con la naturaleza a través del yoga",
        "articleSummary": "El yoga, esa práctica milenaria que enamora a todo aquel que se anima a conocerla. Cada vez vemos a más yoguis por las calles, sus clases en los gimnasio son de las más solicitadas… ¡ ",
        "articleText": "El yoga, esa práctica milenaria que enamora a todo aquel que se anima a conocerla. Cada vez vemos a más yoguis por las calles, sus clases en los gimnasio son de las más solicitadas… ¡Y no nos extraña!  Las razones para tal popularidad son múltiples: el ejercicio del cuerpo, respirar, establecer un vínculo con nuestras emociones y sentimientos y disfrutar con conciencia plena de nuestro entorno, respetándolo y queriéndolo.",
        "authorname": "Yoga y Naturaleza",
        "authorprofileImg": "https://png2.kisspng.com/20180227/tze/kisspng-animation-black-and-white-man-cartoon-avatar-5a962abceb8829.2034837115197907809648.png",
        "caption": "Persona paseando por un bosque",
        "numComments": 0
      },
      {
        "id": 3,
        "video": "https://player.vimeo.com/video/137857207",
        "title": "ea molestias quasi exercitationem repellat qui ipsa sit aut",
        "articleSummary": "et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus",
        "articleText": "et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut",
        "authorname": "Sam Wilson",
        "authorprofileImg": "https://svgsilh.com/svg/28852.svg",
        "caption": "Video Demostrativo",
        "numComments": 0
      },
      {
        "id": 4,
        "img": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6cC8hQaXHojn3cx8jpt0c26zIIjll24sqsW_RXc6FMrwPEh6a",
        "title": "Turismo, Tecnología y Big Data se únen",
        "articleSummary": "Windup School en colaboración con la Asociación de Empresarios Hoteleros de la Costa del Sol (Aehcos) y GEA organizan el próximo 21 de septiembre una jornada ",
        "articleText": "Windup School en colaboración con la Asociación de Empresarios Hoteleros de la Costa del Sol (Aehcos) y GEA organizan el próximo 21 de septiembre una jornada profesional gratuita que tiene como eje la industria turística para analizarla desde tres perspectivas: tendencias de mercado, herramientas y 'knowhow', y 'customer centricity'.",
        "authorname": "Heindall Winsconsin",
        "authorprofileImg": "https://cdn3.iconfinder.com/data/icons/avatars-add-on-pack-2/48/v-33-512.png",
        "caption": "Trasnformación digital",
        "numComments": 0
      },
      {
        "id": 5,
        "img": "https://concepto.de/wp-content/uploads/2012/03/microscopio-ciencia-e1504203035744.jpeg",
        "title": "Sørensen, el bioquímico danés que nos familiarizó con el pH ",
        "articleSummary": "Sus estudios sobre acidimetría le permitieron introducir el símbolo que indica la concentración de iones hidrógeno en las disoluciones acuosas de los electrólitos",
        "articleText": "Ha pasado a la historia como el creador de la escala pH, que se ha convertido en una parte imprescindible de la literatura científica por su influencia en la consideración de problemas biológicos. S.P.L. Sørensen también estudió las proteínas, las fermentaciones y la síntesis de las aminas ácidas. Fue, en definitiva, un científico dotado de un talento casi innato para la química pero siempre con una ferviente esperanza en el progreso del bienestar humano y, sobre todo, en la paz mundial.",
        "authorname": "Alberto López",
        "authorprofileImg": "",
        "caption": "Microscopio científico",
        "numComments": 0
      },
      {
        "id": 6,
        "img": "https://cumbrepuebloscop20.org/wp-content/uploads/2018/01/animales-en-peligro-de-extinci%C3%B3n-en-ecuador-3.jpg",
        "title": "Animales en peligro de extinción en ecuador",
        "articleSummary": "Los animales en extinción en Ecuador, se han ido sumando a una larga lista que no solo ha dependido de las destrucciones por las malas acciones del ser humano, sino también de los cambios climáticos y demás modificaciones que se han llevado a cabo en el entorno de todos los hábitats. ",
        "articleText": "Los animales en extinción en Ecuador, se han ido sumando a una larga lista que no solo ha dependido de las destrucciones por las malas acciones del ser humano, sino también de los cambios climáticos y demás modificaciones que se han llevado a cabo en el entorno de todos los hábitats.En su mayoría, las especies en extinción se han hecho saber como tal debido a que radican en ser principalmente animales exóticos que están expuestos a la caza y a otros destinos no apropiados para el ambiente y para la totalidad del planeta.",
        "authorname": "Berta Collado",
        "authorprofileImg": "https://upload.wikimedia.org/wikipedia/commons/c/cb/Student_icon.svg",
        "caption": "Osos panda en libertad -- Madre e Hijo",
        "numComments": 0
      },
      {
        "id": 7,
        "img": "https://revistacomunicar.files.wordpress.com/2017/05/045-articulo-cine-bello-cuevas.jpg",
        "title": "El cine, como medio para aprender y estudiar historia",
        "articleSummary": "La capacidad de mostrar la realidad da al Cine una enorme oportunidad para el estudio y, sobre todo, para la enseñanza de la Historia ",
        "articleText": "La capacidad de mostrar la realidad da al Cine una enorme oportunidad para el estudio y, sobre todo, para la enseñanza de la Historia.El Cine utiliza un lenguaje propio, combina aspectos iconográficos propios y figuras narrativas heredados de la literatura, o de otros medios como la televisión o el cómic. La eficacia del Cine como fuente para el estudio de la Historia resulta innegable.El conocer y enseñar la Historia de una población o de un período determinado de ella a través del Cine debe basarse en conocimientos anteriores, con el fin de retirar ideas enseñadas en la película elegida. La película no pormenoriza toda la época, por ello se aconseja la utilización de muchas narraciones, a veces contradictorias, basadas en la realidad de la época.",
        "authorname": "Enric Martínez-Salanova",
        "authorprofileImg": "https://cdn.vectorstock.com/i/thumb-large/14/65/avatar-of-a-man-with-red-eyes-avatar-and-face-vector-14141465.jpg",
        "caption": "Cinematógrafo antiguo",
        "numComments": 0
      },
      {
        "id": 8,
        "img": "https://alnavio.com/fotos/1/6118_fotoexteriorApple.jpg",
        "title": "Apple usa el poder del Iphone X para adelantar a Spotify en EEUU",
        "articleSummary": "A veces, pocas, en los pulsos entre las grandes corporaciones que aspiran a dominar el planeta Tierra, no es sólo el dinero lo que está en juego. El ego de los dirigentes también está presente en la partida",
        "articleText": "A veces, pocas, en los pulsos entre las grandes corporaciones que aspiran a dominar el planeta Tierra, no es sólo el dinero lo que está en juego. El ego de los dirigentes también está presente en la partida. Y el prestigio de ser el primero o de ostentar el liderazgo. Esos turbios sentimientos, tan humanos que, en ocasiones, se mezclan con los objetivos empresariales y deciden para bien o para mal movimientos estratégicos inesperados, audaces golpes de mano o concienzudos y pacientes asedios que proporcionan el placer inmediato de la victoria.",
        "authorname": "Rafael Ruiz",
        "authorprofileImg": "",
        "caption": "Tienda de Apple",
        "numComments": 0
      },
      {
        "id": 9,
        "img": "https://c1.staticflickr.com/4/3064/3841790167_f4f5a671e4.jpg",
        "title": "The Big Bang Theory llega a su fin",
        "articleSummary": "The Big Bang Theory llegará a su fin en 2019, coincidiendo con la temporada 12, según han anunciado los responsables de la serie en un comunicado en el que no han detallado el motivo.",
        "articleText": "The Big Bang Theory llegará a su fin en 2019, coincidiendo con la temporada 12, según han anunciado los responsables de la serie en un comunicado en el que no han detallado el motivo. Sin embargo, la revista EW señala que se debe a que el actor Jim Parsons, que interpreta a Sheldon Cooper, quiere salir de la ficción para embarcarse en nuevos proyectos.Según el medio, ha confirmado en exclusiva que el actor estaba listo para abandonar The Big Bang Theory, lo que ha motivado que no vaya a haber más temporadas ya que sin su personaje no tendría sentido. ",
        "authorname": "Samuel L-Jackson",
        "authorprofileImg": "https://upload.wikimedia.org/wikipedia/commons/d/df/Uncle_Sam_%28pointing_finger%29.png",
        "caption": "Protagonistas de la serie",
        "numComments": 0
      }
    ],
    "comments": [
      {
        "id": 1,
        "idArticle": 1,
        "name": "Pepita",
        "surname": "Grillo Grillo",
        "email": "pgrillo@gmail.com",
        "comment": "Pobre bombero. No me imagino el dolor de su familia."
      },
      {
        "id": 2,
        "idArticle": 1,
        "name": "Maria",
        "surname": "La Dolorosa",
        "email": "mariadol@hotmail.com",
        "comment": "DEP"
      },
      {
        "id": 3,
        "idArticle": 3,
        "name": "Monica",
        "surname": "Naranjo",
        "email": "moninara@yahoo.es",
        "comment": "Espectacular video. Un impresionante trabajo"
      }
    ]
  }